/* General page setup */
body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  background-color: #0d1b2a; /* Found superman navy */
  color: #f1faee; /* Found off-white color*/
}

/* Header */
header {
  background-color: #e63946; /* Superman red */
  padding: 1rem 0;
  text-align: center;
}

h1 {
  margin: 0;
  color: #f1faee;
  font-size: 2rem;
}

/* Navigation bar */
nav ul {
  list-style: none;
  margin: 10px 0 0 0;
  padding: 0;
}

nav li {
  display: inline-block;
  margin: 0 15px;
}

nav a {
  text-decoration: none;
  color: #f1faee;
  font-weight: bold;
  transition: color 0.2s ease;
}

nav a:hover {
  color: #ffd60a; /* Superman yellow */
}

/* Main content */
main {
  max-width: 800px;
  margin: 2rem auto;
  padding: 2rem;
  background-color: #1d3557; /* container for the main block of website*/
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}

.intro h2 {
  color: #ffd60a;
}

.intro p {
  line-height: 1.6;
  margin-bottom: 1rem;
}

/* Image section */
.image-section {
  text-align: center;
  margin-top: 2rem;
}

.hero-image {
  width: 70%;
  max-width: 500px;
  border-radius: 10px;
  border: 4px solid #ffd60a;
  box-shadow: 0 0 15px rgba(255, 214, 10, 0.5);
}

.caption {
  margin-top: 0.5rem;
  font-style: italic;
  color: #f1faee;
}

/* Footer */
footer {
  text-align: center;
  background-color: #e63946;
  padding: 1rem 0;
  margin-top: 3rem;
  color: #f1faee;
  font-size: 0.9rem;
}
